
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align:center;
    padding:50px;

}

.container{
    background: white;
    padding:30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    max-width: 400px;
    margin:auto;
}

button{
    background:#4caf50;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size:20px;
    margin-top:20px;
    transition:cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

button:hover{
    background:#45a049;
    transform: scale(1.05);
}